@import "tailwindcss";

@theme {
  --font-display: 'Space Grotesk', sans-serif;
  
  --color-primary: #135bec;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101622;
  --color-surface-dark: #1a1d24;
  --color-surface-border: #232f48;
}